{% extends 'base.html' %}

{% block 'title' %}Recuperar Senha{% endblock %}
{% block 'head' %}
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
{% endblock %}

{% block 'body' %}
    <section class="container">
        <span class="container"><h3>Preencha os campos para realizar a alteração de senha.</h3></span><br>
        <form action={{token}} method="POST">{% csrf_token %}
            <span class="bold">Nova senha:</span>
            <input class="form-control input-form" name="nova_senha" type="password" placeholder="Digite sua nova senha...">
            <br>
            <span class="bold">Confirmar senha:</span>
            <input class="form-control input-form" name="confirmar_senha" type="password" placeholder="Digite sua senha...">
            <br>
            
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}

            <button class="btn btn-primary">Alterar</button>

        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}